@model IEnumerable<MoviesMvc.Models.Movie>

@{
    ViewData["Title"] = "Home Page";
}

<h1>List of all movies</h1>

<table class="table">
    <thead>
        <tr>

            <th scope="col">@Html.DisplayNameFor(model => model.Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Director)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.ReleaseYear)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Genre)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var movie in Model)
        {
           <tr>
                <td>
                    @Html.DisplayFor(modelItem => movie.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.ReleaseYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => movie.Price)
                </td>
           </tr>
        }
    </tbody>
</table>





